adm/root.mk
build
dist
*.egg-info
*.pyc
.coverage
coverage
doc/_build
doc/layer_*.md
*.swp
doc/layer_*.rst
doc/mflog.rst
**.whl
doc/api
doc/configure_a_metwork_package.md
doc/configure_a_metwork_package.rst
doc/configure_metwork_repo.md
doc/configure_metwork_repo.rst
doc/install_a_metwork_package.md
doc/install_a_metwork_package.rst
doc/mfcom_intro.rst
doc/CHANGELOG*.md
doc/CHANGELOG*.rst
doc/changelogs.rst
installation_guide.md
installation_guide.rst
doc/README.md
doc/README.rst
